[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = {extras = ["standard"], version = "*"}
pydantic = "*"
python-dotenv = "*"
rich = "*"
typer = "*"
pydantic-settings = "*"
pugsql = "*"
psycopg2-binary = "*"

[dev-packages]
black = "*"
flake8 = "*"
flake8-bugbear = "*"
httpx = "*"
mypy = "*"
pytest = "*"
pytest-cov = "*"
pytest-env = "*"
docformatter = "*"

[requires]
python_version = "3.12"
